<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DriveX We are India’s first fully integrated pre-owned 2-wheeler platform. </title>
    <style>
        body {
            font-family:"Times New Roman", Times, serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #003366;
            color: #fff;
            text-align: center;
            padding: 1em;
        }

        main {
            padding: 20px;
        }

        section {
            margin-bottom: 20px;
        }

        
    </style>
</head>
<body>

    <header>
        <h1>Welcome to Drive X</h1>
    </header>

    <main>
        <section>
            <h2>About Us</h2>
            
                
        
                <h1>Welcome to Our 2-Wheeler Platform</h1>
        
        
            
                <p>We are India’s first fully integrated pre-owned 2-wheeler platform.</p>
                <ul>
                    <li>A Digital Native full stack retail platform</li>
                    <li>Simplified, credible, and hassle-free mobility ecosystem</li>
                    <li>A centralized vehicle sourcing & Refurbishment model</li>
                    <li>State-of-the-art Refurbishment Facilities governed by stringent quality processes</li>
                    <li>In-house documentation & financing</li>
                </ul>
        
                <p>We take pride in offering a credible and delightful buying experience to our consumer. Our vision is to become the market leader in the used two-wheeler market, by providing affordable and reliable mobility solutions.</p>
        
                <p>And we are going to drive this dream to the masses through our circular business model covering end-to-end spectrum of value chain.</p>
        
                <strong>Buy → Refurbish → Sell → After Sales</strong>
        
                <p>Come experience a new way of buying and selling your favourite 2-wheelers.</p>   
            
    

        <section>
            

                <p><a href="/careers">careers</p>
                <p><a href="/tc">Terms and Conditions</p>
                    <p><a href="/rc">Refunds and Cancelations</p>
                        <p><a href="/map">Site Maps</p>  
                            <p><a href="/pp">Privacy and Policy </p> 

        
        </section>
    </main>

    

</body>
</html>
